<a href="https://colab.research.google.com/github/Amrith96/workshop/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
username = 'David'
password = '007'

userPassword = input("Enter the password")

if userPassword == password :
  print("Welcome"+username)
  print("Hello")

else :
  print("incorrect password")

Enter the password007
WelcomeDavid
Hello

In [ ]:
username = 'David'
password = '007'

name = input("Enter the name")
userPassword = input("Enter the password")

if name==username :
  if userPassword == password :
      print("Welcome"+username)
  else :
    print("Incorrect Password")
else :
  print("This user is not in our database")

Enter the nameDavid
Enter the password007
WelcomeDavid

In [ ]:
username = 'David'
password = '007'
OTP = '2552'

name = input("Enter the name")
userPassword = input("Enter the password")

if name==username :
  if userPassword == password :
    print("You will recieve an OTP")
    pin = input("Enter OTP")
    if pin == OTP :
      print("Welcome"+username)
    else: 
        print("Access Denied")
  else :
    print("Incorrect Password")
else :
  print("This user is not in our database")

Enter the nameDavid
Enter the password007
You will recieve an OTP
Enter OTP2552
WelcomeDavid

In [ ]:
marks = int(input("Enter the mark"))

if marks > 90 :
  print("Grade is A")

elif marks > 80 :
  print("Grade is B")

elif marks > 70 :
  print("Grade is C")

else :
  print("Failed!")

Enter the mark20
Failed!

In [ ]:
for anynumber in range(2, 10) :
  print(anynumber)

2
3
4
5
6
7
8
9

In [ ]:
students = ["Rahul" , "Ravi" , "Jane" , "David" , "Teena"]
students[2:5]

['Jane', 'David', 'Teena']

In [ ]:
for a in students :
  print("Welcome" + a)

WelcomeRahul
WelcomeRavi
WelcomeJane
WelcomeDavid
WelcomeTeena

In [ ]:
studentMarks ={
    "Rahul" : 98,
    "Ravi" : 46,
    "Jane" : 86,
    "David" : 23,
    "Teena" : 76,
}

studentMarks["Ravi"]

46

In [ ]:
studentMarks.keys()

dict_keys(['Rahul', 'Ravi', 'Jane', 'David', 'Teena'])

In [ ]:
for key in studentMarks.keys() :
  #print(key)
  #print(studentMarks[key])
  #Pass criteria is 60
  if studentMarks[key] > 60 :
    print(key + " has failed")

Rahul has failed
Jane has failed
Teena has failed